@font-face {
  font-family: 'Goulong';
  src: url('../../../public/fonts/Goulong.ttf') format('truetype');
}


.container {
  background-color: #f8f8f8;
}


.logo {
  display: flex; 
  background-image: linear-gradient(100deg, #008BDC, #46BE00,#FFB600,#FF8500,#FF3620);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  margin-top: 10px;
  margin-left: 10px;

}

.logoName {
  position: absolute;
  margin-left: 30px;
  margin-top: 15px;
  font-family: 'Goulong';
  font-weight: 600;
  font-size: 25px;
}

.logoP {
  color: black;
}

.logoName:hover{
  cursor: pointer;
  font-size: 27px;
}



